# Build
cachecompare-web/target/

# Benchmark çıktıları
logs/
benchmark-results/

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Ortam
.env
*.local

.claude/

benchmark-results-redis-om
logs-redis-om
cachecompare-redis-om/target
